[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pydictionary = "*"
bunch = "*"
nltk = "*"
wordnet = "*"
opensimplex = "*"
numpy = "*"
torch = "*"
conceptnet-lite = "*"
weightedset = "*"
weighted-choice = "*"
gensim = "*"

[dev-packages]

[requires]
python_version = "3.7"
